body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #a1c4fd 10%, #c2e9fb 100%); 
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name{
    
  font-size: 20px;
  font-weight: 100;
  margin-top: -65px;
  margin-bottom: 20px;
}

.box textarea{
  height: 300px;
  font-size: 15px;
  resize: none;
  padding: 20px;
  border : 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  background: rgba(248, 239, 239, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border: 1px solid rgba(248, 239, 239, 0.40);
  width: fit-content;
}


.row{
   
  width : 600px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 15px;

}

.row button{

  background-color: black;
  font-size: 1rem;
  color: white;
  padding: 10px 30px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  height: 50px;
  cursor: pointer;
}

textarea placeholder{
    color :black;
    font-size: 15px;
}

select {

  flex : 1;
  color : grey;
  background: rgba(248, 239, 239, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border: 1px solid rgba(248, 239, 239, 0.40);
  width: fit-content;
  height: 50px;
  padding: 0 20px;
  border-radius: 35px;
  border : none;

}

.box textarea {
  width: 600px;
}